<h1 class="logh1">
  <%=title%>
</h1>

<div class="flash-home">
  <%- messages() %>
</div>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
  </ul>
<% } %>



<section class="inventory-management">
  <h2>AddInventory Management</h2>
  <p>Use the links below to manage inventory classifications and items.</p>
  <ul>
    <li>
      <a href="/inv/add-classification">Add New Classification</a>
    </li>
    <li>
      <a href="/inv/add-inventory">Add New Inventory Item</a>
    </li>
  </ul>
</section>

<h2>Update Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>Javascript must be enable to use this page</noscript>
